.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.recipe {
    margin: 20px 0;
    padding: 20px;
    background-color: #FFFDD0;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.recipe h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #A52A2A;
}

.recipe p {
    margin: 10px 0;
    color: #333;
}

.recipe img {
    max-width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.recipe a {
    text-decoration: none;
    color: #A52A2A;
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

.recipe a:hover {
    text-decoration: underline;
}

/* Search form styles */
.search-form {
    margin: 20px 0;
    text-align: center;
}

.search-form input[type="text"] {
    padding: 10px;
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 10px;
    transition: border-color 0.3s ease;
}

.search-form input[type="text"]:focus {
    border-color: #A52A2A;
    outline: none;
}

.search-form button {
    padding: 10px 20px;
    background-color: #A52A2A;
    color: #FFFDD0;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-form button:hover {
    background-color: #8B1A1A;
}

.header-container {
    position: relative;
    display: inline-block;
    font-size: 28px;
    font-weight: bold;
    color: #A52A2A;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.header-container:hover {
    transform: scale(1.05);
}

.header-container .description {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    font-size: 16px;
    color: #333;
    background-color: #FFFDD0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transform: scale(0.9);
    transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
    width: 100%;
    text-align: center;
}

.header-container:hover .description {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

.recipe {
    margin: 20px;
    padding: 20px;
    background-color: #FFFDD0;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
