{% extends "base.html" %}
{% load static %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}">
    <header class="about-header">
        <h1>About Us</h1>
    </header>
    <section class="about-content">
        <div class="about-info">
            <h2>Who I Am and What I'm Interested In</h2>
            <p>
                Hi! I'm Denis Popov, a student at the Universität Wien.
            </p>
            <p> 
                I'm passionate about IT, cryptocurrency (blockchain technology), NFTs, stocks, and much more. In the future, I plan to embark on projects closely related to the spheres I'm interested in. 
            </p>
        </div>
        <div class="project-info">
            <h2>About the Project</h2>
            <p class="paragraph">
                This is my pet project in web development. It's a journey of creativity and learning, and I'm excited to share it with you.
            </p>
        </div>
    </section>
        
        <div class="recipe-description">
            <h2>Discover the Art of Flavor!</h2>
            <p>Indulge your senses in a culinary journey where taste, texture, and aroma harmonize to create exquisite dishes. Our passion for recipes knows no bounds, as we explore the world's culinary traditions to bring you mouthwatering creations.</p>
            <p>From sizzling stir-fries to delicate pastries, our recipes are meticulously crafted to ignite your taste buds and inspire your inner chef. Unleash your culinary prowess with our step-by-step guides and unleash the chef within.</p>
            <p>Join us in celebrating the joy of cooking. Whether you're a novice or a seasoned chef, our recipes offer a diverse range of flavors and techniques to elevate your cooking skills. Explore, create, and savor the art of cooking with us.</p>
            <p>Using that website you can find different recepies depending on products, you have.</p>
            <p>It helps young students in cooking something better than half-cooked meat or burnt scrambled eggs.</p>
            <p>The only thing you need is to enter a list of products, you have, and choose a recipe in a list oft recepies you got</p>


        </div>


    </section>
{% endblock %}

