{% extends "base.html" %}
{% load static %}
{%block content%}
    <section>
        <div class="header-container">
            <div class="header">All recipes:</div>
            <div class="description">Our entire collection of recipes is at your disposal</div>
        </div>
        <div class="search-form">
            <form method="get" action="{% url 'main:search_recipe' %}">
                <input type="text" name="search" placeholder="Enter title or ingredients..." value="{{ form.data.search }}">
                <button type="submit">Search</button>
            </form>
        </div>
        
        {% for dish in page_obj %}
            <div class="recipe">
                <h3>{{ dish.dish_title }}</h3>
                <img src='{{dish.dish_image.url}}' alt='{{dish.dish_title}}'>
                <p>{{ dish.dish_ingredients|safe }}</p>
                <a href={% url 'main:detail_recipe' pk=dish.pk %}>View Recipe</a>
            </div>
        {% endfor %}
    </section>

    <style>
        .header-container {
            position: relative;
            display: inline-block;
            font-size: 28px;
            font-weight: bold;
            color: #A52A2A;
            cursor: pointer;
            transition: transform 0.3s ease;
        }
    
        .header-container:hover {
            transform: scale(1.05);
        }
    
        .header-container .description {
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            opacity: 0;
            visibility: hidden;
            font-size: 16px;
            color: #333;
            background-color: #FFFDD0;
            padding: 10px;
            border-radius: 5px;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
            transform: scale(0.9);
            transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
            width: 100%;
            text-align: center;
        }
    
        .header-container:hover .description {
            opacity: 1;
            visibility: visible;
            transform: scale(1);
        }
    
        .recipe {
            margin: 20px;
            padding: 20px;
            background-color: #FFFDD0;
            border-radius: 5px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        }
    
        .recipe h3 {
            font-size: 24px;
            margin-bottom: 10px;
        }
    
        .recipe p {
            margin: 10px;
        }
    
        .recipe img {
            max-width: 100%;
            max-height: 200px;
            object-fit: cover;
            border-radius: 5px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        }
    
        .recipe a {
            text-decoration: none;
            color: #A52A2A;
            font-weight: bold;
            display: block;
            margin-top: 10px;
        }
    
        .recipe a:hover {
            text-decoration: underline;
        }
    
        .search-form input[type="text"] {
            padding: 10px;
            width: 300px;
            border: 1px solid #ddd;
            border-radius: 5px;
            font-size: 16px;
            margin-right: 10px;
        }
    
        .search-form button {
            padding: 10px 20px;
            background-color: #A52A2A;
            color: #FFFDD0;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
        }
    
        .search-form button:hover {
            background-color: #8B1A1A;
        }
    </style>
{% endblock %}
